nav {
  height: 120px;
  padding: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  width: -webkit-fill-available;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}

.aside {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

