.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  margin-bottom: 2.5em;
}

.text {
  width: -webkit-fill-available;
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: solid;
}

.button {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: white;
}

output.counter {
  font-family: 'Bungee', sans-serif;
}

output.negative{
  color: red;
}

.new-tweet p{
  display: none;
}

.new-tweet p.show{
  display: block;
  color: red;
  border: solid;
  text-align: left;
  padding: 10px;
}